.filter-container {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
  }
  .year-class,.success-launch-landing>button {
      background-color: rgb(71, 116, 5);
      border-radius: 5px;
      margin: 10px;
      font-size: small;
      padding: 5px 10px 5px 10px;
  }

  .year-div{
    column-count: 2;
  }

  .class-decor {
      text-decoration: underline;
      font-size: medium;
      text-align: center;
      margin: 10px;
  }

  .main-container{
      padding: 10px;
  }